* {
  padding: 0;
  margin: 0;
}

.login_page {
  margin-left: 43%;
  margin-top: 10%;
  font-size: 25px;
}

#korisnicko_ime_input,
#lozinka_input {
  width: 30%;
}

.admin_nav_menu {
  background-color: black;
  height: 50px;
}

.nav_item {
  font-size: 24px;
  padding-top: 0.2%;
  margin-left: 2.5%;
}

.nav_item a {
  text-decoration: none;
  color: white;
  margin-left: 2%;
}

.nav_item a:visited {
  text-decoration: none;
  color: white;
}

.admin_nav_menu {
  display: flex;
}

#button_odjava {
  width: 15%;
  margin-left: 157vh;
}