* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #FFF9F7;
}

.login_page {
  margin-left: 43%;
  margin-top: 10%;
  font-size: 25px;
}

#korisnicko_ime_input,
#lozinka_input {
  width: 30%;
}

.admin_nav_menu {
  background-color: black;
  height: 50px;
}

.nav_item {
  font-size: 24px;
  padding-top: 0.2%;
  margin-left: 2.5%;
  width: 250px;
}

.nav_item a {
  text-decoration: none;
  color: white;
  margin-left: 2%;
}

.nav_item a:visited {
  text-decoration: none;
  color: white;
}

.admin_nav_menu {
  display: flex;
  justify-content: space-between;
}

#button_odjava {
  font-size: 18px;
  width: 200px;
}

#studentitable {
  width: 80%;
  margin-left: 12.5%;
}

#ispititable {
  width: 50%;
  margin-left: 2.5%;
}

#skolarine_nav {
  margin-left: -260%;
}

#studentinaslov {
  margin-top: 2%;
  margin-bottom: 1%;
  font-size: 50px;
}

#novistudentbutton {
  margin-left: 46.5%;
}

.novistudent {
  width: 50%;
  margin-left: 26%;
}

#sacuvajstudentabutton {
  margin-top: 2%;
  margin-left: 40%;
}

#email {
  width: 85%;
}

.emaildiv {
  display: flex;
}

#proveriemailbutton {
  width: 22%;
}

#pretraga {
  width: 18%;
  margin-left: 12.5%;
}

.pretragadiv {
  display: flex;
}